   <aside class="lyear-layout-sidebar">
      <!-- logo -->
      <div id="logo" class="sidebar-header">
       <a href="/member/index"><img data-th-src="@{/images/logo-sidebar.png}" title="LightYear" alt="LightYear" /></a>
      </div>
      <div class="lyear-layout-sidebar-info lyear-scroll">  
        
        <nav class="sidebar-main">
          <ul class="nav-drawer">
            <li class="nav-item active"> <a class="multitabs" href="/member/profile"><i class="mdi mdi-home"></i> 首页</a> </li>
            <li class="nav-item">
              <a class="multitabs" href="/member/userArticle"><i class="mdi mdi-palette"></i>我的文章</a>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 我的评论</a>
              <ul class="nav nav-subnav">
                <li> <a class="multitabs" href="/member/articleComment">文章评论</a> </li>
                <li> <a class="multitabs" href="/member/productComment">商品评论</a> </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="multitabs" href="/member/favouritesIndex"><i class="mdi mdi-note-multiple"></i> 我的收藏</a>
            </li>
            <li class="nav-item "> <a class="multitabs" href="/member/orderList"><i class="mdi mdi-cart-plus"></i>我的订单</a> </li>            
          <!--   <li class="nav-item"> <a class="multitabs" href="index.html"><i class="mdi mdi-cash-100"></i>我的余额</a> </li> -->
            <li class="nav-item"> <a class="multitabs" href="/member/couponUser"><i class="mdi mdi-cash-usd"></i>优惠券</a> </li>
            <li class="nav-item"> <a class="multitabs" href="/member/userAddress"><i class="mdi mdi-car-estate"></i>我的地址</a> </li>
          </ul>
        </nav>
        
        <div class="sidebar-footer">
          <p class="copyright">Copyright &copy; 2020. <a target="_blank" href="http://lyear.itshubao.com"></a> All rights reserved.</p>
        </div>
      </div>
      
    </aside>